 /* Remove default bullets */
ul, #sidenav {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#sidenav {
  margin: 0;
  padding: 0;
  overflow:auto;
}

/* Style the caret/arrow */
.caret {
  cursor: crosshair;
  user-select: none; /* Prevent text selection */
  text-decoration: none;
  font-size: 18px;
font-family: 'vgados', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #818181;
  display: block;	
}

.sidenav a:hover {color:#fff; background-color:#282828;}
.sidenav a:active {color:#3664b6;}
.sidenav>hr {border-style:dotted; border-width:1px 0 0 0; margin:8px 0 8px 0;}
a {cursor:crosshair; border: 1px solid transparent; margin: 0px;}
a:link {color:#3664b6;}
a:visited {color:#3664b6;}
a:hover {color:#181818;	border: 1px solid transparent; border-image: url("data/images/random/ants.gif") 1 repeat; background-color:e6e6e6;}
a:active {color:#fff;}
}
     
     
/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "+";
  color: #818181;
  display: inline-block;
margin-right: 6px;
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
} 
body{
    cursor: url('/data/images/random/cursor1.gif'), pointer;
}

@font-face{
src: url('data/font/Perfect DOS VGA 437.ttf') format("truetype");
 font-family: 'vgados';
}

#sidenav a:hover {color:#fff; background-color:#282828;}
#sidenav a:active {color:#3664b6;}
#sidenav> hr {border-style:dotted; border-width:1px 0 0 0; margin:8px 0 8px 0;}
.sidenav a:hover {color:#fff; background-color:#282828;}
.sidenav a:active {color:#3664b6;}
.sidenav> hr {border-style:dotted; border-width:1px 0 0 0; margin:8px 0 8px 0;}
a {cursor:crosshair; border: 1px solid transparent; margin: 0px;}
a:link {color:#3664b6;}
a:visited {color:#3664b6;}
a:hover {color:#181818;	border: 1px solid transparent; border-image: url("data/images/random/ants.gif") 1 repeat; background-color:e6e6e6;}
a:active {color:#fff;}
}

.cool {margin:0px; max-height:0px; overflow:hidden;}
input:checked ~ ul.cool {max-height:100%; margin:4px 0px 4px 0px;}
input {display:none;}
label {cursor:crosshair; user-select:none;}
label:hover {color:#3664b6;}
li {margin: 0; padding: 0; list-style-type: none;}
ul {margin:6px 0px 3px 0px; padding-left: 30px;}
ul li {margin:0px; font-size:12px;}



li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: black; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  overflow:auto;
}

/* The navigation menu links */
.sidenav a {
  text-decoration: none;
  font-size: 18px;
font-family: 'vgados', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #181818;
  display: block;
  overflow:auto;
}

#sidenav {
  text-decoration: none;
  font-size: 18px;
font-family: 'vgados', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #181818;
  display: block;
  overflow:auto;
}

#titlething {
  text-decoration: none;
  font-size: 18px;
font-family: 'vgados', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ffffff;
  display: block;
  overflow:auto;
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 0px;
  overflow:auto;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

