#litterbug{
  display:flex;
  align-items:center;
           float: center;
        justify-content:center; 
           align-self:center;
           gap: 15px;
 font-family: 'vgados';
  font-size:1.2rem;
}
     
.sidenav a:hover {color:#fff; background-color:#282828;}
.sidenav a:active {color:#0090e0;}
.sidenav>hr {border-style:dotted; border-width:1px 0 0 0; margin:8px 0 8px 0;}
a {cursor:crosshair; border: 1px solid transparent; margin: 0px;}
a:link {color:#0090e0;}
a:visited {color:#0090e0;}
a:hover {color:#181818;	border: 1px solid transparent; border-image: url("data/images/random/ants.gif") 1 repeat; background-color:e6e6e6;}
a:active {color:#fff;}
}


@font-face{
src: url('data/font/Perfect DOS VGA 437.ttf') format("truetype");
 font-family: 'vgados';
    font-size:1.2rem;
}


   
     .card {
  --pointer-x:50%;
  --pointer-y:50%;
  --card-scale:1;
  --card-opacity:0;
  --translate-x:0px;
  --translate-y:0px;
  --rotate-x:0deg;
  --rotate-y:0deg;
  --background-x:var(--pointer-x);
  --background-y:var(--pointer-y);
  --pointer-from-center:0;
  --pointer-from-top:var(--pointer-from-center);
  --pointer-from-left:var(--pointer-from-center)
}


.card {

  --grain: url("/data/images/random/grain.webp");
  --glitter: url("/data/images/random/glitter.png");
  --glittersize: 25%;

  --space: 5%;
  --angle: 133deg;
  --imgsize: cover;

  --red: #f80e35;
  --yellow: #eedf10;
  --green: #21e985;
  --blue: #0dbde9;
  --violet: #c929f1;

  --clip: inset( 9.85% 8% 52.85% 8% );
  --clip-invert: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0 47.15%, 91.5% 47.15%, 91.5% 9.85%, 8% 9.85%, 8% 47.15%, 0 50%);

  --clip-stage: polygon(91.5% 9.85%, 57% 9.85%, 54% 12%, 17% 12%, 16% 14%, 12% 16%, 8% 16%, 8% 47.15%, 92% 47.15%);
  --clip-stage-invert: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0 47.15%, 91.5% 47.15%, 91.5% 9.85%, 57% 9.85%, 54% 12%, 17% 12%, 16% 14%, 12% 16%, 8% 16%, 8% 47.15%, 0 50%);

  --clip-trainer: inset(14.5% 8.5% 48.2% 8.5%);
  --clip-borders: inset(2.8% 4% round 2.55% / 1.5%);

}

.card__shine,
.card__glare {
  
  will-change: transform, opacity, background-image, background-size,
    background-position, background-blend-mode, filter;
 
}
