
      body{
      
      background-image: url("data/images/random/1000.png");
    background-size:cover;
    
      
    }
    
    #container{
      display:flex;
  align-items:center;
           float: center;
        justify-content:center; 
           align-self:center;
           gap: 15px;

   
    }

#warning{

 display:flex;
  align-items:center;
           float: center;
        justify-content:center; 
           align-self:center;


      
}

.windows4downloads{
text-align:center;
 display:flex;
  align-items:center;
           float: center;
        justify-content:center; 
           align-self:center;
           gap: 15px;
 font-family: 'vgados';
      font-size:1.2rem;
}

@font-face{
src: url('data/font/Perfect DOS VGA 437.ttf') format("truetype");
 font-family: 'vgados';
}
