
      body{
      
      background-image: url("data/images/random/1000.png");
    background-size:cover;
    
      
    }
    
    #container{
      display:flex;
  align-items:center;
           float: center;
        justify-content:center; 
           align-self:center;
           gap: 15px;

   
    }

#warning{

 display:flex;
  align-items:center;
           float: center;
        justify-content:center; 
           align-self:center;


      
}

#below{

 position:absolute;     
 display:flex;
  align-items:center;
           float: center;
        justify-content:center; 
           align-self:center;
margin-bottom:-5px;
left:50%;
      right:50%;
 font-family: 'vgados';
            font-size:1.2rem;
      text-align:center;
}



.windows4downloads{
           gap: 15px;
 font-family: 'vgados';
      font-size:1.2rem;
         display:inline-block;
      justify-content:center;
       align-items:center;
      float: center;
      text-align:center;
     align-self:center;
white-space: nowrap;
flex-shrink: 0;
overflow: hidden;
}

@font-face{
src: url('data/font/Perfect DOS VGA 437.ttf') format("truetype");
 font-family: 'vgados';
}
