 body{
       cursor: crosshair;
      background-image: url("/data/images/backgrounds/dither_it_cirobackground1.png");
     background-size: fixed;
     background-size: cover;
    
      
    }
#ciroimg1{
 image-rendering: pixelated;
  left:1%;
  position:relative;
 animation: hoverhand 3s ease-in-out infinite;
 animation-name: hoverhand;
 animation-duration: 3s;
 animation-timing-function: ease-in-out;
 animation-delay: 0s;
 animation-iteration-count: infinite;
 animation-direction: normal;
 animation-fill-mode: none;
 animation-play-state: running;
 }

@keyframes hoverhand {
	0% {transform:translate(0px, 4px);}
	50% {transform:translate(0px, -4px);}
	100% {transform:translate(0px, 4px);}
}

#maintext1{
 position:relative;
 font-family: "haxx";
 font-size:20px;
 text-align:center;
 color: white;
   font-weight: 900;
width:300px;
float:center;
 align-items:center;
 display:inline-block;
 bottom: 1000px;
padding: 5px;
 border: 1px solid transparent; border-image: url("/data/images/random/ants.gif") 1 repeat; background-color: #181818ad;

}

#maintext2{
 position:relative;
 font-family: "haxx";
 font-size:20px;
 text-align:center;
 color: white;
   font-weight: 900;
width:300px;
float:center;
 align-items:center;
 display:inline-block;
 bottom: 800px;
 padding: 5px;
 border: 1px solid transparent; border-image: url("/data/images/random/ants.gif") 1 repeat; background-color: #181818ad;
left: 65px;
}

#maintext3{
 position:relative;
 font-family: "haxx";
 font-size:20px;
 text-align:center;
 color: white;
   font-weight: 900;
width:300px;
float:center;
 align-items:center;
 display:inline-block;
 bottom: 500px;
 padding: 5px;
 border: 1px solid transparent; border-image: url("/data/images/random/ants.gif") 1 repeat; background-color: #181818ad;
left: -300px;
}

@font-face {
  font-family: "haxx";
  src: url("/data/font/MonaspaceKryptonFrozen-Regular.ttf");
}

@font-face {
  font-family: "bv";
  src: url("/data/font/Baskervville-Regular.ttf");
}

@font-face {
  font-family: "din";
  src: url("/data/font/dinc.ttf");
}

#CAPTCHALOGO{
float: left;
display: block;
align-items: left;
align-self: left;
justify-content: left;
top: 20px;
right: 670px;
position:absolute;
image-rendering: crisp-edges;
width: 450px;
height: 200px;
}   

.hov1{
transition: .3s cubic-bezier(0,1,1,1);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0, 1, 1, 1);
    transition-delay: 0s;
    transition-behavior: normal;
  filter: drop-shadow(0px 0px 0px #000000);
  position: absolute;
  background-size: 100% 100%;
  z-index: 6;
}

.hsl1:hover{
filter:drop-shadow(0px 16px 0px #9c9c9c);
}

.hov1 img
{
transition:1s cubic-bezier(0,0.8,0.3,.8);
filter:opacity(0.0) hue-rotate(900deg);
transform:scale(1.08);
mix-blend-mode:difference;
pointer-events:none;
overflow:hidden;
image-rendering:pixelated;}

.hov1:hover img
{
transition:0s;
filter:opacity(1) hue-rotate(0deg);
transform:scale(1);
}

.hov1:hover{
transform:translate(0px,-8px);
transition:.3s cubic-bezier(0.1,2,0.5,2)}



.sidenav a:hover {color:#fff; background-color:#282828;}
.sidenav a:active {color:#3664b6;}
.sidenav>hr {border-style:dotted; border-width:1px 0 0 0; margin:8px 0 8px 0;}
a {cursor:crosshair; border: 1px solid transparent; margin: 0px;}
a:link {color:#3664b6;}
a:visited {color:#3664b6;}
a:hover {color:#181818;	border: 1px solid transparent; border-image: url("/data/images/random/ants.gif") 1 repeat; background-color:e6e6e6;}
a:active {color:#fff;}
 
  
