body {
  background-image: url("/data/images/backgrounds/STARRAINBOWBG.jpg");
}

.sidenav a:hover {color:#fff; background-color:#282828;}
.sidenav a:active {color:#3664b6;}
.sidenav>hr {border-style:dotted; border-width:1px 0 0 0; margin:8px 0 8px 0;}
a {cursor:crosshair; border: 1px solid transparent; margin: 0px;}
a:link {color:#3664b6;}
a:visited {color:#3664b6;}
a:hover {color:#181818;	border: 1px solid transparent; border-image: url("/data/images/random/ants.gif") 1 repeat; background-color:e6e6e6;}
a:active {color:#fff;}

.vi1{
text-align: left;
font-family: "vga";
}

.vi2{

text-align: right;
font-family: "vga";

}

#ddr-arrowz{
animation-name: throb;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
float: center;
display: block;
align-items: center;
align-self: center;
justify-content: center;
margin: auto;
position:relative;
image-rendering: pixelated;
vertical-align: bottom;
width: 456px;
height: 120px;
}   

@keyframes throb {
	0%   {transform: scale(1);}
	50%  {transform: scale(0.95);}
	100% {transform: scale(1);}
	}

  #rainbow{
 animation-name: throb;
  animation-duration: .8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;   
image-rendering: pixelated;
font-family: "vcr";
font-size: 80px;
color: #fff;
text-align: center;
justify-content: center;
float: center;
align-items: center;
position:relative;
margin-top: 450px;
margin-left: -630px;
  }

  #window1{

width: 220px;
height: 130px;
float: left;
display: block;
align-items: left;
align-self: left;
justify-content: left;
margin-top: 220px;
margin-left: -290px;
position:relative;
image-rendering: pixelated;
vertical-align: bottom;
}



#modular{
  animation: hoverhand 3s ease-in-out infinite;
float: left;
display: block;
align-items: left;
align-self: left;
justify-content: left;
margin-left: 15px;
position:relative;
image-rendering: pixelated;
vertical-align: bottom;
width: 300px;
height: 400px;
border: #fff 2px solid;
}   



@keyframes spin {
	0%   {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
	}

#smiley{
animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
float: left;
display: block;
align-items: left;
align-self: left;
justify-content: left;
margin-top: 300px;
margin-left: 170px;
position:absolute;
image-rendering: pixelated;
vertical-align: bottom;
width: 150px;
height: 150px;
border: #fff 3px solid;
border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}   

@keyframes wag {
	0%   {transform: rotate(6deg);}
	50%  {transform: rotate(-6deg);}
	100% {transform: rotate(6deg);}
	}

#PLURFX{
animation-name: wag;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
float: left;
display: block;
align-items: left;
align-self: left;
justify-content: left;
margin-top: 125px;
margin-left: 330px;
position:absolute;
image-rendering: pixelated;
vertical-align: bottom;
width: 400px;
height: 300px;
}   

#empy3img{
float: left;
display: block;
align-items: left;
width: 496px;
height: 503px;
align-self: left;
justify-content: left;
margin-top: 220px;
margin-left: 0px;
position:absolute;
image-rendering: pixelated;
vertical-align: bottom;

}   

.empytext1{
font-family: "dd";
font-size: 150px;
color: #fff;
}   

.empytext2{
font-family: "fp";
font-size: 150px;
color: #fff;
}   

.empytext3{
font-family: "din";
font-size: 18px;
color: #fff;
width: 600px;
}   

#empytext{
text-align: center;
justify-content: center;
float: center;
align-items: center;
position:relative;
margin-bottom: -22px;
}   

.containempy{
position: relative;
border-left: 2px solid transparent;
	border-right: 2px solid transparent;
	border-image: url('/data/images/random/ants2.png') 2 repeat;
background-image: url("/data/images/backgrounds/polkabg.gif");
width: 900px;
height: 3000px;
align-items: center;
display: block;
justify-content: center;
text-align: center;
float: top;
align-self: center;
text-align: center;
margin: auto;
top: 0%;
overflow: hidden;
}

@font-face {
  font-family: "din";
  src: url("/data/font/dinc.ttf");
}


@font-face {
  font-family: "dd";
  src: url("/data/font/DigitalDisorder.ttf");
}

@font-face {
  font-family: "vga";
  src: url("/data/font/Perfect DOS VGA 437.ttf");
}

@font-face {
  font-family: "fp";
  src: url("/data/font/full Pack 2025.ttf");
}

@font-face {
  font-family: "vcr";
  src: url("/data/font/BetterVCR 25.09.ttf");
}

@keyframes hoverhand {
	0% {transform:translate(0px, 4px);}
	50% {transform:translate(0px, -4px);}
	100% {transform:translate(0px, 4px);}
}

