body {
  background-image: url("/data/images/backgrounds/polkabg.gif");
}

.sidenav a:hover {color:#fff; background-color:#282828;}
.sidenav a:active {color:#3664b6;}
.sidenav>hr {border-style:dotted; border-width:1px 0 0 0; margin:8px 0 8px 0;}
a {cursor:crosshair; border: 1px solid transparent; margin: 0px;}
a:link {color:#3664b6;}
a:visited {color:#3664b6;}
a:hover {color:#181818;	border: 1px solid transparent; border-image: url("data/images/random/ants.gif") 1 repeat; background-color:e6e6e6;}
a:active {color:#fff;}

#ddr-arrowz{

animation: hoverhand 3s ease-in-out infinite;
float: center;
display: flex;
align-items: center;
align-self: center;
justify-content: center;
margin: auto;
position: relative;
}   
#empytext{
position: relative;
float: center;
display: flex;
align-items: center;
align-self: center;
justify-content: center;
margin: auto;
text-align: center;
font-family: "dd";
font-size: 250px;
color: #fff;
}   

#empytext2{
position: relative;
float: center;
display: flex;
align-items: center;
align-self: center;
justify-content: center;
margin: auto;
text-align: center;
font-family: "fp";
font-size: 250px;
color: #fff;
}   


@font-face {
  font-family: "dd";
  src: url("/data/font/DigitalDisorder.ttf");
}

@font-face {
  font-family: "fp";
  src: url("/data/font/full Pack 2025.ttf");
}

@keyframes hoverhand {
	0% {transform:translate(0px, 4px);}
	50% {transform:translate(0px, -4px);}
	100% {transform:translate(0px, 4px);}
}
