 body{
       cursor: crosshair;
      background-image: url("/data/images/backgrounds/dither_it_Kairobackground1.png");
     background-size: cover;
    
      
    }

@font-face {
  font-family: "bv";
  src: url("/data/font/Baskervville-Regular.ttf");
}

@font-face {
  font-family: "din";
  src: url("/data/font/dinc.ttf");
}
#containurself{
 position:relative;
float:center;
 align-items:center;
  display:inline-block;
    gap: 15px;

}


#box{
 position:relative;
 font-family: "bv";
 font-size:110px;
 text-align:center;
 color: white;
   font-weight: 900;
}

#box1{
  position:relative;
 font-family: "bv";
 font-size:50px;
 text-align:center;
 color: white;
   font-weight: 700;
}

#box2{
  position:relative;
 font-family: "din";
 font-size:20px;
 text-align:center;
 color: white;
   font-weight: 600;
}


.sidenav a:hover {color:#fff; background-color:#282828;}
.sidenav a:active {color:#3664b6;}
.sidenav>hr {border-style:dotted; border-width:1px 0 0 0; margin:8px 0 8px 0;}
a {cursor:crosshair; border: 1px solid transparent; margin: 0px;}
a:link {color:#3664b6;}
a:visited {color:#3664b6;}
a:hover {color:#181818;	border: 1px solid transparent; border-image: url("data/images/random/ants.gif") 1 repeat; background-color:e6e6e6;}
a:active {color:#fff;}
}
     
  
