 body{
       cursor: crosshair;
      background-image: url("/data/images/backgrounds/dither_it_Kairobackground1.png");
     background-size: cover;
    
      
    }
#kairoimg1{
 
  left:10%;
  position:relative;
 animation: hoverhand 3s ease-in-out infinite;
 animation-name: hoverhand;
 animation-duration: 3s;
 animation-timing-function: ease-in-out;
 animation-delay: 0s;
 animation-iteration-count: infinite;
 animation-direction: normal;
 animation-fill-mode: none;
 animation-play-state: running;
 animation-timeline: ;}

@keyframes hoverhand {
	0% {transform:translate(0px, 4px);}
	50% {transform:translate(0px, -4px);}
	100% {transform:translate(0px, 4px);}
}

@font-face {
  font-family: "bv";
  src: url("/data/font/Baskervville-Regular.ttf");
}

@font-face {
  font-family: "din";
  src: url("/data/font/dinc.ttf");
}
#containurself{
 position:relative;
float:center;
 align-items:center;
  display:inline-block;
    gap: 15px;
text-align:center;
 left:10%;
}


#box{
 position:relative;
 font-family: "bv";
 font-size:110px;
 text-align:center;
 color: white;
   font-weight: 900;
}

#box1{
  position:relative;
 font-family: "bv";
 font-size:50px;
 text-align:center;
 color: white;
   font-weight: 700;
}

#box2{
  position:relative;
 font-family: "din";
 font-size:20px;
 text-align:center;
 color: white;
   font-weight: 600;
}


.sidenav a:hover {color:#fff; background-color:#282828;}
.sidenav a:active {color:#3664b6;}
.sidenav>hr {border-style:dotted; border-width:1px 0 0 0; margin:8px 0 8px 0;}
a {cursor:crosshair; border: 1px solid transparent; margin: 0px;}
a:link {color:#3664b6;}
a:visited {color:#3664b6;}
a:hover {color:#181818;	border: 1px solid transparent; border-image: url("/data/images/random/ants.gif") 1 repeat; background-color:e6e6e6;}
a:active {color:#fff;}
}
     
  
